# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


# Dependency lock files
package-lock.json
